<div id="background" class="background fade-in">
    <div id="block" class="block fade-in-up">
        <a class="return" (click)="fadeout('userswiper')"><i class="bi bi-arrow-left large-stroke" ></i>Torna indietro</a>
        <div class="content">
            <div class="text">
                <h2>Richieste</h2>
                <p>Accetta o rifiuta le richieste di conoscenza</p>
            </div>
            <div class="profiles">
                <div class="profile" *ngFor="let item of requests | keyvalue; let i = index" [id]="'profile-'+item.value.id">
                    <ng-container *ngIf="!this.accepted.includes[item.value.id] && !this.rejected.includes[item.value.id]">
                        <img [src]="item.value.profileImageURL">
                        <div class="information">
                            <h3>{{item.value.surname}} {{item.value.name}}<i class="bi bi-patch-check-fill verify" *ngIf="item.value.verify"></i></h3>
                            <p>{{item.value.age}}, {{item.value.city}}, {{item.value.faculty}}</p>
                            <p>{{item.value.locationAndTime}}</p>
                            <p class="descrizione">{{item.value.description}}</p>
                            <button (click)="accept(item.value.id)">Accetta</button>
                            <button class="x" (click)="reject(item.value.id)"><i class="bi bi-x"></i></button>
                        </div>
                    </ng-container>
                </div>
            </div>
            <h4 *ngIf="isEmpty(requests)" class="end-request">Nessuna richiesta...</h4>
        </div>
    </div>
</div>
