@import url(../../../animations.css);

.card {
    position: relative;
    background-size: cover;
    width: 20rem;
    height: 30rem;
    background-color: #e6e6e6;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 0 10px rgba(0,0,0,.425))
}

.card::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 28px;
    transition: .4s
}

.card,.red::after {
    align-items: center;
    transition: .4s
}

.red::after {
    content: url(../../../assets/dislike-1.svg);
    background-color: rgba(48,2,2,.616)
}

.green::after,.images,.red::after {
    display: flex;
    justify-content: center
}

.green::after {
    content: url(../../../assets/like-1.svg);
    align-items: center;
    background-color: rgba(10,54,14,.616);
    transition: .4s
}

.images {
    position: absolute;
    flex-wrap: wrap;
    margin: 1rem
}

.image {
    position: relative;
    width: 44.2%;
    height: 8rem;
    margin: .5rem
}

.oneImage {
    width: 90%;
    height: 16rem
}

.twoImages {
    width: 90%;
    height: 12rem
}

.threeImages {
    width: 90%;
    height: 8rem
}

.image-more::after,img {
    width: 100%;
    height: 100%;
    border-radius: 10px
}

.image-more::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.527);
    backdrop-filter: blur(2px)
}

.image-more p {
    position: absolute;
    top: 40%;
    right: 45%;
    z-index: 100;
    color: #fff;
    font-weight: 500;
    margin: auto
}

img {
    object-fit: cover;
    box-shadow: 1px 1px 10px rgba(0,0,0,.219)
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.grab {
    cursor: grab
}

.display-none {
    display: none
}

.fade-in {
    animation: fadeIn ease-in .1s;
    -webkit-animation: fadeIn ease-in .1s;
    -moz-animation: fadeIn ease-in .1s;
    -o-animation: fadeIn ease-in .1s;
    -ms-animation: fadeIn ease-in .1s
}

.fade-out {
    animation: fadeOut ease-in .5s;
    -webkit-animation: fadeOut ease-in .5s;
    -moz-animation: fadeOut ease-in .5s;
    -o-animation: fadeOut ease-in .5s;
    -ms-animation: fadeOut ease-in .5s
}