<div id="background" class="background fade-in">
    <div class="error-float fade-in-bubble" id="error">
        <h6>Errore</h6>
        <p>{{message}}</p>
    </div>
    <div class="correct-float fade-in-bubble" id="correct">
        <h6>Completata creazione</h6>
        <p>{{message}}</p>                                                                                      
    </div>
    <div id="block" class="block fade-in-up">
        <a class="return" (click)="fadeout('groupswiper')"><i class="bi bi-arrow-left large-stroke" ></i>Torna indietro</a>
        <form>
            <div class="text">
                <h2>Creazione gruppo</h2>
                <p>Crea un gruppo inserendo le seguenti informazioni a cui poi potrai far aggiungere le persone tramite una richiesta!</p>
            </div>
            <div class="inputs">
                <div class="column">
                    <div>
                        <input type="text" placeholder="Nome gruppo" id="nome">
                        <input type="text" placeholder="Luogo e fascia oraria" id="lfo">
                    </div>
                    <div>
                        <input type="text" placeholder="Telegram link, Instagram amministratore da contattare, Whatsapp link" id="contacts">
                    </div>
                    <div>
                        <textarea placeholder="Descrizione" id="descrizione" maxlength="200"></textarea>
                    </div>
                </div>
            </div>
            <button type="button" class="larger-button" (click)="fadeoutsv('groupswiper')" id="create-button">Crea</button>
        </form>
    </div>
</div>
