<div class="overlay" id="overlay" *ngIf="isLoading">
    <div class="spinner"></div>
</div>  
<div class="error-float fade-in-bubble" id="error">
    <h6>Errore</h6>
    <p>{{message}}</p>
</div>
<div class="notify-float fade-in-bubble" id="notify">
    <p><i class="bi bi-bell-fill"></i> Vuoi ricevere le notifiche?</p>
    <button (click) = "requestNotifies(true)">Si</button>
    <button (click) = "requestNotifies(false)">No</button>
</div>
<app-navbar *ngIf="user!=undefined" [group]="false" [requestsnotify]="numberkeys(user.requests)" [messagesnotify]="numberkeys(user.matched)" [filterclicked] = "filterclicked" [user]="user" (reciveclick)="reciveclick($event)"/>
<app-filter class="fade-in"></app-filter>
<div class="cards">
    <div *ngFor="let item of vectorUsers; let i = index;">
        <app-card class="middle-card" *ngIf="i === id && !this.accepted.includes[item.id] && !this.rejected.includes[item.id]" (accepted)="handleaccept()" (rejected)="handlereject()" [number]='id' [user] ="actualcard"></app-card> 
    </div>
    <h4 *ngIf="id >= vectorUsers.length" class="end-match"><i class="bi bi-emoji-frown-fill"></i> I possibili match sono finiti...</h4>
    <div class="explore" *ngIf="!(id >= vectorUsers.length)">
        <p>Esplora il profilo</p>
        <i class="bi bi-chevron-compact-down"></i>
    </div>
</div>
<div class="profile-info" *ngIf="!(id >= vectorUsers.length)">
    <div class="block" *ngIf="actualcard!=undefined">
        <div class="left-column">
            <h2>{{actualcard.surname}} {{actualcard.name}}<i class="bi bi-patch-check-fill verify" *ngIf="actualcard.verified"></i></h2>
            <p><b>Informazioni</b>: {{actualcard.age}}, {{actualcard.city}}, {{actualcard.faculty}}</p>
            <p><b>Luogo e orario</b>: {{actualcard.locationAndTime}}</p>
            <p class="descrizione">{{actualcard.description}}</p>
            <p class="small-text" *ngIf="comuneThings.length > 0">In comune con te:</p>
            <div class="comune" *ngIf="comuneThings.length > 0">
                <button *ngFor="let item of comuneThings">{{item}}</button>
            </div>
        </div>
        <div class="right-column">
            <img [src]="actualcard.profileImageURL">
        </div>
    </div>
</div>
<router-outlet/>