<div class="correct-float fade-in-bubble" id="correct">
    <h6>Completata registrazione</h6>
    <p>{{message}}</p>                                                                                      
</div>
<div class="correct-float fade-in-bubble" id="correct-reset">
    <h6>Reset password</h6>
    <p>Vai alla tua email per resettare la password.</p>                                                                                      
</div>
<div class="left-box fade-in">
    <div>
        <div class="error-float fade-in-bubble" id="error">
            <h6>Errore</h6>
            <p>{{message}}</p>
        </div>
        <div class="title">
            <img [src]="imageurl">
            <h1>StudyMatch</h1>
        </div>
        <h2>Accedi</h2>
        <p>Effettua l'accesso</p>
        <form id="form">
            <input type="text" placeholder="Inserisci email...">
            <input type="text" placeholder="Inserisci password...">
            <button type="button" class="larger-button" (click) = "loginWithEmail()" >Accedi</button>
        </form>
            <div class="buttons">
                <button type="button" (click) = "loginWithGoogle()"><i class="bi bi-google"></i></button>
                <button type="button" (click) = "loginWithFacebook()"><i class="bi bi-facebook"></i></button>
                <button type="button" (click) = "loginWithGitHub()"><i class="bi bi-github"></i></button>
            </div>
        <a class="small-text password-reset" (click) = "resetPassword()">Dimenticato la password?</a>
        <a class="small-text missing-account" routerLink="../register">Non hai ancora un account?</a>
    </div>
</div>