<div class="base">
    <div>
        <h1><i class="bi bi-wifi-off"></i> Ops, sei Offline!</h1>
        <p>Sembra che tu sia offline e <b style="color: rgb(68, 68, 68);">StudyMatch</b> non può essere utilizzato offline.</p>
        <h4>Cosa posso fare?</h4>
        <ul>
            <li><b style="color: #8a8a8a;">Verifica la connessione</b>: Assicurati di essere connesso a Internet.</li>
            <li><b style="color: #8a8a8a;">Ricarica la pagina</b>: Prova a ricaricare la pagina dopo qualche minuto.</li>  
        </ul>
        <p>Ci scusiamo per l'inconveniente.</p>
        <button class="reload" (click)="reload()">Ricarica la pagina</button>
    </div>
</div>